:root{
	--blue: hsl(228, 57%, 56%);
	--accent: hsl(349, 100%, 50%);
	--soft-white: hsl(349, 100%, 95%);
	--dark-blue: hsl(229, 23%, 14%);
	--darker-blue: hsl(228, 16%, 7%);
}

::selection {
	background-color:  hsl(349, 76%, 36%);
}

body {
	margin: 0;
	font-family: Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: var(--soft-white);
	background-color: var(--darker-blue);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	color: var(--blue);
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}